.dark {
    color: #222;
}
.intro {
    padding: 10em 0 10em 0;
}
.big {
    font-size: 2em;
    font-weight: bold;
}
.strike {
    text-decoration: line-through;
}

div {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.square {
    list-style: square;
}

footer {
    margin-top: 5em;
}

a {
    color: #00b4ff;
}

img {
    float: left;
    margin: 0 1em 1em 0;
}
